
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
     <link rel="stylesheet" href="css/style.css" />
</head>
<body><header class="header">
  {{!-- <nav class="navbar navbar-style">
<div class="container">
<div class="navbar-hearder">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
    <span class="icon-bar"></span>
      <span class="icon-bar"></span>
        <span class="icon-bar"></span>
  </button>
  <a href=""><img class="logo" src="/public/css/Grey.png"> </a>
</div>
<div class="collapse navbar-collapse" id="micon">
<ul class="nav navbar-nav navbar-right" >
  <li><a href="/home">Home</a></li>
 <li><a href="/PricePlan" >Price Plan</a></li>
   
</ul>

</div>
</div>
  </nav> --}}
  
</header>
    <form action="/expense" method="POST">
         <h1>Daily EXpense Tracker App</h1>
                {{#if messages.info}}
<div style="text-align:center; " class="entry">
    <h3> {{messages.info}}</h3>
</div>
{{/if}}

{{!-- username input --}}
<div class="sign-in"   style="background-color: pink;" >
  <div class="us">
  <label class="name" ><b>Username</b></label>
        <input
          class="inputname"
          id="input"
          {{!-- type="text" --}}
          name="username"
          placeholder="enter your name"
        />
</div>
  <div class="de">
     <label class="detail" ><b>Contact Details</b></label>
        <input
          class="details"
          id="input"
          type="text"
          name="details"
          placeholder="enter number"
        />
  </div>
  <div class="de">
    <label class="mail" ><b> Email</b></label>
        <input
          class="mails"
          id="input"
          type="text"
          name="mail"
          placeholder="enter Email"
        />
        </div>
        </div>
         <br>
         <hr>
         <br>


    <div>
     <label class="item" for="Name"><b>Item</b></label>
        <input
          class="items"
          id="item"
          type="text"
          name="item1"
          placeholder="enter your name"
        />
</div>
  <div class="expense_list">
      <h4>Category</h4>
       <span> <select  class="options"  name="description1"> 
        <option> </option> 
         <option value="1" >Food</option> 
         <option value="2" >Communication</option>
         <option value="3" >Toiletries</option>
         <option value="4"</option>Travel</option>
       </select>
      </div>

<div>
        <label class="nameamaount" ><b>Amount</b></label>
        <input
          class="nameamaounts"
          id="input"
          type="text"
          name="amount"
          placeholder="enter your name"
        />
</div>
<div>

  <label class="namedate" for="date"><b>Date</b></label>
  <input  class="namedates" type="date" id="input" name="date">
  {{!-- <input type="submit"> --}}


{{!-- 
          <label class="namedate" ><b>Date</b></label>
        <input
          class="namedates"
          id="input"
          type="text"
          name="date"
          placeholder="enter your name"
        /> --}}
        </div>
         <button type="submit" class="submit" >submit</button>
    {{!-- <a href="/login">login</a> --}}
    </form>
</body>
</html>