*{
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  input{
    margin-bottom: 20px;
    margin-top: 30px;
   
  }
  .expense_list{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  input{

  
 
  }
  body {
    background: pink;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
 
button{
  padding: 10px;
  background-color: blue;
  text-align: center;
  justify-self: start;
  margin-left: 150px;
}

/* .name{
  font-weight: 500;
  font-size: larger;
} */
.items{
  margin-left: 88px;
}
.namedates{
  margin-left: 86px;
}
.nameamaounts{
  margin-left: 64px;
}
  .options{
    padding-left: 80px;
    align-items: flex-start;
    margin-left: 60px;
  }
.inputname{
  margin-left: 66px;
  /* color: pink; */
  
}
.details{
  margin-left: 30px;
}
.mails{
  margin-left: 94px;
}
